.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0px 0px 0px 30px;
}

.movieRow--list {
  transition: all ease 0.5s;
}

.movieRow--listarea {
  overflow-x: hidden; /* Corta tudo que sair da tela na horizontal*/
  padding-left: 30px;
}


.movieRow--item {
  display: inline-block; /* Um item ao lado do outro*/
  width: 150px;
  cursor: pointer;
}

.movieRow--item img {
  width: 100%; /* Usa toda área disponivel, no caso 150px */
  transform: scale(0.9); /* adiciona um espaçamento, possibilitando uma animação */
  transition: all ease 0.2s; /* Deixa a animação menos "bruta" */
}

.movieRow--item img:hover {
  transform: scale(1);
}

.movierow--left,
.movierow--right
{
  position: absolute;
  width: 40px;
  height: 225px;
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.2s;
}

.movierow--right{
  right: 0;
}

.movierow--left{
  left: 0;
}

.movieRow:hover .movierow--left,
.movieRow:hover .movierow--right{
  opacity: 1;
}

@media (max-width: 760px) {
  .movierow--left,
  .movierow--right{
    opacity: 1;
  }
}

